.row {
    max-width: 1300px;
    margin: 0 auto;
}


.main {
    padding: 50px 50px;
}

.hero {
    margin-top: calc(-1 * var(--menu-height));
    height: 50vh;
    width: 100%;
    z-index: -1;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: center center!important;
    box-shadow: inset 0 0 0 50vw rgba(42, 38, 41, 0.345);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: -1;
    position: relative;
}




.columnHalf {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
}

@media screen and (max-width: 900px) {
    .columnHalf {
        grid-template-columns: 1fr;
    }

    .columnHalf > div:not(:last-child) {
        margin-bottom: 3rem;
    }
}


.columnThird {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 50px;
}

@media screen and (max-width: 900px) {
    .columnThird {
        grid-template-columns: 1fr;
    }

    .columnThird > div:not(:last-child) {
        margin-bottom: 3rem;
    }
}