---
title: About
layout: layout.njk
---

<div class="hero" style="background: url('/assets/img/view-2.jpg')">
    <div class="row" style="text-align: left;">
        <h1 class="title">About the house</h1>
    </div>  
</div>

<main class="main">
    <div class="columnHalf">
        <div>
            <img src="/assets/img/dining.jpg" alt="dining room" class="halfImg" />
        </div>
        <div>
        <h2 class="headingSecondary">
            Your perfect family vacation home
        </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nibh libero, cursus nec ultricies non, lacinia sit amet velit. Integer euismod ex risus, ac posuere risus tincidunt non. Duis aliquam eros in felis suscipit, a vulputate leo mattis. Phasellus finibus molestie tellus, eget venenatis nibh commodo quis. Nam in hendrerit felis. 
        <br/>
        <br/>
        Duis aliquam eros in felis suscipit, a vulputate leo mattis. Phasellus finibus molestie tellus, eget venenatis nibh commodo quis. Nam in hendrerit felis. 
        </p>
        </div>
    </div>

    <div class="row">
    <div class="divider"></div>
    </div>

    <div class="row columnThird">
    <div class="">
    <h2 class="headingSecondary">
        Amenities
    </h2>
    <ul class="amenitiesList">
        <li>Large Master suite with King bed and jacuuzi tub</li>
        <li>2 bedrooms upstairs, each with king beds</li>
        <li>Three sleep sofas</li>
        <li>Large living area with three sofas</li>
        <li>Wrap around porch</li>
        <li>Beautiful sunroom with forest and mountain views</li>
        <li>Wooden deck overlooking a creek</li>
        <li>Game room with pool table and foosball</li>
        <li>Parking for multiple cars</li>
        <li>Large, fully equipped kitchen with granite counter tops</li>
    </ul>
    </div>
    <div class="">
        <img src="/assets/img/study.jpg" alt="study" class="mb-3 halfImg"/>
        <button class="btn btn--black">
        <Link to="/availability">
            Check availability
        </Link>
        </button>
    </div>
    </div>
</main>
