---
title: About
layout: layout.njk
description: Learn more about Norfolk Gerringong, including all amenities provided. 
---

<div class="hero" style="background: url('/assets/img/view-2.jpg')">
    <div class="row" style="text-align: left;">
        <h1 class="title">About the house</h1>
    </div>  
</div>

<main class="main">
    <div class="row columnHalf">
        <div>
            <img src="/assets/img/dining.jpg" alt="dining room" class="halfImg" />
        </div>
        <div>
            <h2 class="headingSecondary">Your perfect family vacation home</h2>
            <p>Nestled just above Gerringong's historic Boat Harbour, Norfolk will provide everything for your South Coast escape. Only a 2 hour drive from Sydney, you will find a unique property with panoramic views over the Pacific Ocean and adjoining farmlands. This modern home is a short walk to the village cafes and boutique shops. Relax in front of the majestic picture window and watch for whales or stroll down for a dip in the iconic Boat Harbour rock pool and see the pelicans and stingrays feeding. 
            <br/>
            <br/>
            Upon arrival you will be greeted by an expanse of blue sea and coastal farmland and we can guarantee you will feel instantly relaxed. Unwind on the sunny verandah or enjoy the latest movie in our media room. Our fully equipped kitchen is an entertainer's delight, basic kitchen needs are provided, so cook your favourite meal while watching the waves roll in.
            </p>
        </div>
    </div>

    <div class="row">
    <div class="divider"></div>
    </div>

    <div class="row columnThird">
    <div class="">
    <h2 class="headingSecondary">
        Amenities
    </h2>
    <ul class="amenitiesList">
        <li>Free driveway parking on premises – 2 spaces</li>
        <li>3 bedrooms. 1 king bed, 1 queen bed and 2 single beds, respectively </li>
        <li>Harbour, mountain and ocean views</li>
        <li>Barbecue with utentils - grill, charcoal, skewers etc</li>
        <li>Washing machine</li>
        <li>Clothes dryer</li>
        <li>Essentials - towels, bed sheets, soap and toiler paper</li>
        <li>Bed linen. Extra pillow and blankets</li>
        <li>Clothing storage: walk-in closet</li>
        <li>65" HDTV with Amazon Prime Video, Netflix, DVD player</li>
        <li>Central air conditiong</li>
        <li>Wifi</li>
        <li>All kitchen and cooking needs</li>
    </ul>
    <a href="https://www.airbnb.com.au/rooms/22071647/amenities?preview_for_ml=true&source_impression_id=p3_1682231892_CNSqwTGS7NhGEPJ5">
        <button class="btn btn--black">Full list of amenities</button>
    </a>
    </div>
    <div class="">
        <img src="/assets/img/study.jpg" alt="study" class="mb-3 halfImg"/>
        <button class="btn btn--black">
        <a href="/availability">
            Check availability
        </a>
        </button>
    </div>
    </div>
</main>
