---
title: Availability
layout: layout.njk
---

<div>
    <div class="hero mb-3" style="background: url('/assets/img/view.jpg')">
    <div class="row" style="text-align: left;">
        <h1 class="title">Availability</h1>
    </div>  
    </div>
    <main class="main">
    <div class="row text-center mb-3">
    <h2 class="headingSecondary" style="text-align: center;">
        For more information contact
    </h2>
    <p class="email">
        bookings@norfolkgerringong.com.au
    </p>
    <a href="/availability">
        <button class="btn btn--black">
            See listing on AirBnb
        </button>
    </a>
    </div>
    </main>
</div>
  