---
title: Availability
layout: layout.njk
---

<div>
    <div class="hero mb-3" style="background: url('/assets/img/view.jpg')">
    <div class="row" style="text-align: left;">
        <h1 class="title">Availability</h1>
    </div>  
    </div>
    <main class="main">
    <div class="row text-center mb-3">
    <h2 class="headingSecondary" style="text-align: center;">
        For more information contact
    </h2>
    <p class="email">
        <a href="mailto:bookings@norfolkgerringong.com">
            bookings@norfolkgerringong.com.au
        </a>
    </p>
    <a href="https://www.airbnb.com.au/rooms/22071647?preview_for_ml=true&source_impression_id=p3_1682231892_CNSqwTGS7NhGEPJ5" target="_blank">
        <button class="btn btn--black">
            See listing on AirBnb
        </button>
    </a>
    </div>
    </main>
</div>
  