---
title: Gallery
layout: layout.njk
---

<div class="hero mb-3" style="background: url('/assets/img/view-3.jpg')">
<div class="row" style="text-align:left;">
    <h1 class="title">Photo gallery</h1>
</div>  
</div>
<main class="main">
<div class="row">
    <div class="pswp-gallery pswp-gallery--single-column gallery" id="gallery--getting-started">
        <a href="/assets/img/backyard.jpg" 
          data-pswp-width="1875" 
          data-pswp-height="1250" 
          target="_blank">
          <img src="/assets/img/backyard.jpg" alt="" class="gallery-img" />
        </a>
        <!-- cropped thumbnail: -->
        <a href="/assets/img/bathroom.jpg" 
          data-pswp-width="1875" 
          data-pswp-height="1250" 
          data-cropped="true" 
          target="_blank">
          <img src="/assets/img/bathroom.jpg"  alt="" class="gallery-img"/>
        </a>
        <!-- data-pswp-src with custom URL in href -->
        <a href="/assets/img/hall.jpg" 
          data-pswp-width="1875" 
          data-pswp-height="1250" 
          target="_blank">
          <img src="/assets/img/hall.jpg" class="gallery-img" />
        </a>
        <a href="/assets/img/kitchen.jpg" 
          data-pswp-width="1875" 
          data-pswp-height="1250" 
          target="_blank">
          <img src="/assets/img/kitchen.jpg" alt="" class="gallery-img" />
        </a>
        <!-- cropped thumbnail: -->
        <a href="/assets/img/kitchen-2.jpg" 
          data-pswp-width="1875" 
          data-pswp-height="1250" 
          data-cropped="true" 
          target="_blank">
          <img src="/assets/img/kitchen-2.jpg"  alt="" class="gallery-img"/>
        </a>
        <!-- data-pswp-src with custom URL in href -->
        <a href="/assets/img/living-room.jpg" 
          data-pswp-width="1875" 
          data-pswp-height="1250" 
          target="_blank">
          <img src="/assets/img/living-room.jpg" class="gallery-img" />
        </a>
        <a href="/assets/img/master-bedroom.jpg" 
          data-pswp-width="1875" 
          data-pswp-height="1250" 
          target="_blank">
          <img src="/assets/img/master-bedroom.jpg" alt="" class="gallery-img" />
        </a>
        <!-- cropped thumbnail: -->
        <a href="/assets/img/study.jpg" 
          data-pswp-width="1875" 
          data-pswp-height="1250" 
          data-cropped="true" 
          target="_blank">
          <img src="/assets/img/study.jpg"  alt="" class="gallery-img"/>
        </a>
        <!-- data-pswp-src with custom URL in href -->
        <a href="/assets/img/tv-room.jpg" 
          data-pswp-width="1875" 
          data-pswp-height="1250" 
          target="_blank">
          <img src="/assets/img/tv-room.jpg" class="gallery-img" />
        </a>
        <a href="/assets/img/tv-room-2.jpg" 
        data-pswp-width="1875" 
        data-pswp-height="1250" 
        data-cropped="true" 
        target="_blank">
        <img src="/assets/img/tv-room-2.jpg"  alt="" class="gallery-img"/>
        </a>
      <!-- data-pswp-src with custom URL in href -->
        <a href="/assets/img/view.jpg" 
            data-pswp-width="1875" 
            data-pswp-height="1250" 
            target="_blank">
            <img src="/assets/img/view.jpg" class="gallery-img" />
        </a>
                <a href="/assets/img/view-2.jpg" 
                data-pswp-width="1875" 
                data-pswp-height="1250" 
                target="_blank">
                <img src="/assets/img/view-2.jpg" class="gallery-img" />
            </a>
            <a href="/assets/img/view-3.jpg" 
            data-pswp-width="1875" 
            data-pswp-height="1250" 
            target="_blank">
            <img src="/assets/img/view-3.jpg" class="gallery-img" />
        </a>
      </div>
</div>
</main>
