---
title: Homepage
layout: layout.njk
---
<div class="home" style="background: url('/assets/img/view.jpg')">
    <h1 class="homeTitle">The south coast is calling...</h1>
    
    <a href="/availability">
        <button class="btn">
            Check availability
        </button>
    </a>  

</div>