.divider {
    width: 100%;
    color: #ccc;
    background-color: #ccc;
    border: none;
    height: 1px;
    margin: 50px 0px;
}

.amenitiesList {
    font-size: 18px;
    color: #00000099;
    font-weight: 200;
    padding-left: 20px;
}

.amenitiesList li {
    margin-bottom: 20px;
}