.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 0px;
}

@media screen and (max-width: 500px) {
    .gallery {
        grid-template-columns: 1fr;
    }
}

.gallery-img {
    max-width: 100%;
    height: auto;
    margin-top: -5px;
}

